.measure_ho.py.swp
.measure_ho.py.swx
d_pdf/
gridwrx.py~
ho_check.py~
ho_measure.pyc
ho_measure.py~
ho_prep_data.pyc
ho_prep_data.py~
ho_sim.pyc
ho_sim.py~
hp2np.pyc
rotate.pyc
rotate.py~
v2/
version1/
voxel.pyc
voxel.py~
